{% extends 'base.html' %}

{% block title %}{{ user.full_name }}{% endblock %}}

{% block content %}

<div>
  <div>

    <h2>Feedback</h2>

    <ul>
      {% for feedback in user.feedback %}

      <li>
        {{ feedback.title }}
        <small>{{ feedback.content }}</small>
      </li>

      <form>
        {{form.hidden_tag()}}
        <button formmethod="GET"
                formaction="/{{ feedback.id }}/update">
          Edit
        </button>
        <button formmethod="POST"
                formaction="/{{ feedback.id }}/delete">
          Delete
        </button>
      </form>

      {% endfor %}
    </ul>

    <p>
      <a href="/{{ user.username }}/new">
        Add feedback
      </a>
    </p>

    <form>
      <button formaction="/{{ user.username }}/delete"
              formmethod="POST">
        Delete User
      </button>
    </form>

  </div>
</div>

{% endblock %}